@charset "UTF-8";
body{
	background-image: url(backgroundimages/websitebackground.jpg);
	background-size: cover;
	background-repeat: repeat-x;
	background-attachment: scroll;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
#home{
	color: #FFFFFF;
}
#container{
	width: 1000px;
	margin: auto;
	background-image: url(backgroundimages/greatpngYes.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	border: 2px solid #000000;
}
#header {
	background-image: url(backgroundimages/header.png);
	background-repeat: repeat;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 35px;
	overflow: auto;
	text-align: center;
}
/*--------------------------------------------*/
/* The sidebar menu */
.sidebarc {
	height: 750px; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	/* [disabled]top: 0; */
	/* [disabled]left: 0; */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
	background-image: url(backgroundimages/sidebar.png);
}

/* The sidebar links */
.sidebarc a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebarc a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebarc .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #81979E;
	color: white;
	padding: 10px 15px;
	border: none;
	float: left;
}

.openbtn:hover {
	background-color: #6A8289;
	border-radius: 25px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 5px;
}
/*--------------------------------------------*/

.sidebar{
	width: 300px;
	height: 600px;
	float: left;
	background-image: url(backgroundimages/sidebar.png);
}
.nav1{
	width: 150px;
	height: 150px;
	background-image: url(backgroundimages/pagelink.png);
	float:left;
}
.navspace1{
	width: 150px;
	height: 150px;
	float:left;
}
.nav2{
	width: 150px;
	height: 150px;
	background-image: url(backgroundimages/pagelink.png);
	float:left;
}
.navspace2{
	width: 150px;
	height: 150px;
	float:left;
}
.nav3{
	width: 150px;
	height: 150px;
	background-image: url(backgroundimages/pagelink.png);
	float:left;
}
.navspace3{
	width: 150px;
	height: 150px;
	float:left;
}
.nav4{
	width: 150px;
	height: 150px;
	background-image: url(backgroundimages/pagelink.png);
	float:left;
}

.navspace4{
	width: 150px;
	height: 150px;
	float:left;
}

.content {
	width: auto;
	overflow: auto;
}
#biop .content{
	width: 750px;
	height: 750px;
	background-image: url(backgroundimages/pagelink.png);
	margin-left: 120px;
	margin-right: 120px;
	padding-top: 40px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-top: 20px;
}
.selfimage{
	width: 700px;
	height: 350px;
	background-image: url(backgroundimages/pagelink.png);
	background-size: 400px auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.selfimage img{
	padding-left: 175px;
	padding-right: 175px;
}
.namebox{
	text-align: center;
	background-image: url(backgroundimages/namebox.png);
	background-size: 700px auto;
	background-repeat: no-repeat;
	background-position: center 0%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 40px;
}
.quote{
	text-align: center;
	background-image: url(backgroundimages/quotebox.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*--------------------------------------------*/
.img1{
	float: left;
	width: 475px;
	height: 475px;
	border: 1px solid #000000;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.img2{
	float: right;
	width: 475px;
	height: 475px;
	border: 1px solid #000000;
	margin-right: 10px;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.img3{
	float: left;
	width: 475px;
	height: 475px;
	border: 1px solid #000000;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.img4{
	float: right;
	width: 475px;
	height: 475px;
	border: 1px solid #000000;
	margin-right: 10px;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.img5{
	float: left;
	width: 475px;
	height: 475px;
	border: 1px solid #000000;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.img6{
	float: right;
	width: 475px;
	height: 475px;
	border: 1px solid #000000;
	margin-right: 10px;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.img7{
	float: left;
	width: 475px;
	height: 475px;
	border: 1px solid #000000;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.img8{
	float: right;
	width: 475px;
	height: 475px;
	border: 1px solid #000000;
	margin-right: 10px;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}



.title1{
	width: 1000px;
	height: 55px;
	margin-bottom: 10px;
	border: 1px solid #000000;
	text-align: center;
	font-size: 40px;
	color: #000000;
	background-image: url(backgroundimages/pagelink.png);
}
.subtitle{
	width: 250px;
	height: auto;
	margin: auto;
	text-align: center;
	font-size: 25px;
	background-color: #FFFFFF;
}
.title2{
	width: 1000px;
	height: 55px;
	margin-bottom: 10px;
	border: 1px solid #000000;
	text-align: center;
	font-size: 40px;
	color: #000000;
	background-image: url(backgroundimages/pagelink.png);
}
.g1{
	width: 640px;
	height: 639px;
	margin: auto;
}
.g2{
	width: 559px;
	height: auto;
	margin: auto;
}
.g3{
	width: 500px;
	height: auto;
	margin: auto;
}
.g4{
	width: 637px;
	height: auto;
	margin: auto;
}
.title3{
	width: 1000px;
	height: 55px;
	margin-bottom: 10px;
	border: 1px solid #000000;
	text-align: center;
	font-size: 40px;
	color: #000000;
	background-image: url(backgroundimages/pagelink.png);

}
.s1{
	width: 779px;
	height: auto;
	margin: auto;
}
.s2{
	width: 637px;
	height: auto;
	margin: auto;
}
.s3{
	width: 637px;
	height: auto;
	margin: auto;
}
.s4{
	width: 739px;
	height: auto;
	margin: auto;
}
.biopimage{
	width: 568px;
	height: auto;
	margin: auto;
}

/*--------------------------------------------*/
#footer {
	clear: both;
	background-image: url(backgroundimages/pagelink.png);
	text-align: center;
}
#footer a {
	color: #00146D
}
